
		<div id="footer">
			<div id="contact">
				<p>CONTACT</p>
			</div>
			<div id="about">
				<p>ABOUT</p>
			</div>
			<div id="subcribeUs">
				<p>SUBCRIBE US ON</p>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function logout () {
			localStorage.removeItem("username");
			localStorage.removeItem("isadmin");
			localStorage.removeItem("userid")
		}
	</script>
</body>
</html>