<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="col-md-6">
			<h2>Đăng nhập</h2>
			<form action="/login-redirect" method="POST">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" name="username">
				</div>
				<div class="form-group">
					<label for="pwd">Password</label>
					<input type="password" class="form-control" name="password">
				</div>
				<div class="col-md-3">
					<button type="submit" class="btn btn-success">Đăng nhập</button>
				</div>
				<div class="col-md-3">
					<a href="/register"><button class="btn btn-promary">Đăng ký</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>